.App {
  text-align: center;
  background-color: lightgrey;
  padding:5px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.foodListWrapper{
  width:450px;
}

.foodFormWrapper{
  margin:10px;
  display: flex;
  flex-direction: column;
  align-items:center;

}

button{
  margin: 5px;
}

.appLeft{
  padding:5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todaysWrapper{
  margin-top: 100px;
  margin-left: 20px;
  padding:5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.todayList{
  margin-left: 10px;
  list-style:disc;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.todayList li{
  margin-left: 0px;
}

